---
layout: default
lang: en
ref: index
image: true
exclude: true
---

{% include core/metabar.html %}

<article class="content">

  <header class="hero">
    <h1 class="hero-title">{{ site.description }}</h1>
    {% include core/share.html %}
    {% if page.image %}
      <div class="hero-image" style="background-image: url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg'); background-image: -webkit-image-set( url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}.jpg') 1x, url('{{ site.baseurl }}{{ site.assets }}{{ site.images }}posts/{{ page.ref }}-large.jpg') 2x )"></div>
    {% endif %}
  </header>

  <section id="about" class="section">
    <h2 class="section-title">About</h2>
    <article>
      <h3 class="section-header">Made by Tanaka.</h3>
      <p class="section-body"> A year ago, I travelled 10000 miles away from home, on scholarship to work on a project in Boulder, Colorado. Long story. I raised $3000+ in funding for this project.
      </br>
    </br>
I was rejected by 20 universities. Long story.
</br>
</br>
A year later I was interning at the American embassy in Zimbabwe.Long story.
</br>
Now, a year later, I am in Wooster Ohio, on scholarship, pursuing a Double major in Computer Science and English while helping students back home to find opportunities like I did, through <a href="http://apply.co.zw/">Apply Zimbabwe</a>.
<br>
</br>
I am seeking work in the fields of big data analytics, blockchain, and machine learning. Connect with me here or on <a href="https://www.linkedin.com/in/tanakachingonzo/">Linkedin</a> if you would like to work with me. Ask me about my long stories. What is the last book you read? I have a few recommendations for your next one.</p>
      <a class="section-link" href="https://www.linkedin.com/in/tanakachingonzo/">Message me on Linkedin</a>
    </article>
  </section>

  <section id="posts" class="section">
    <h2 class="section-title">Posts</h2>
    <article class="section-writing">
      {% assign posts = site.posts | sort: 'order' | where:"lang", page.lang | limit: 3 %}
      {% for page in posts %}
      <h3 class="section-header"><a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h3>
        {% include core/date.html %}
        <p class="section-body">{{ page.excerpt | strip_html | truncatewords: 32 }}</p>
      {% endfor %}
      <a class="section-link" href="{{ site.social.medium }}">Read more on Medium</a>
    </article>
  </section>

</article>

{% include core/footer.html %}
