<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Tanaka Chingonzo has diverse experience in innovative social impact projects, web design, and development.  He also serves a Global Shaper- creating websites for the hubs projects and shapers' initiatives. Tanaka is always keen to champion conversations around the internet, emerging technologies such as the Blockchain and global economic issues, socio-economic policy issues and the environment. Reach out to him on Linkedin, or Twitter. You may look at his publications and profiles below.
</div>