<h1><span data-i18n="skills.my_skills">Bio</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.careers %}
          <div class="archive-title"><div class="archive-year"><strong>{{ career.date }}</strong> {{ career.job }} @ <a href="{{ career.link }}">{{ career.name }}</a></div></div>
    {% endfor %}

    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="tanakachingonzo"><a class="LI-simple-link" href='https://www.linkedin.com/in/tanakachingonzo?trk=profile-badge'>Tanaka Chingonzo</a></div>
  </div>
</div>