<aside class="sidebar">
  
  {% if page.id %}
  <div class="widget widget-recent">
    <h3 class="widget-title">Recent Posts</h3>
    {% for post in site.posts limit:4 %}
    <div class="recent-posts">
      {% if post.image %}
      <div class="recent-header">
        <a class="recent-image" href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" style="background-image: url({{"/img/" | prepend: site.baseurl | append: post.image}})"></a>
      </div>
      {% else %}
      {% endif %}
      <div class="recent-content">
        <h6 class="recent-title"><a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
        <div class="recent-date">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%B %-d, %Y"}}</time>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  {% endif %}

  <div class="widget widget-social">
          <style type="text/css" media="screen">
        .gr_grid_container {
          /* customize grid container div here. eg: width: 500px; */
        }

        .gr_grid_book_container {
          /* customize book cover container div here */
          float: left;
          width: 98px;
          height: 160px;
          padding: 0px 0px;
          overflow: hidden;
        }
      </style>
      <div id="gr_grid_widget_1559469301">
        <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
            <h2>
      <a style="text-decoration: none;" rel="nofollow" href="https://www.goodreads.com/review/list/30634943-tanaka-chingonzo?shelf=currently-reading&utm_medium=api&utm_source=grid_widget">Books on Tanaka's reading list</a>
    </h2>
  <div class="gr_grid_container">
    <div class="gr_grid_book_container"><a title="We Need New Names" rel="nofollow" href="https://www.goodreads.com/book/show/19420267-we-need-new-names"><img alt="We Need New Names" border="0" src="https://images.gr-assets.com/books/1386922062m/19420267.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Eleanor & Park" rel="nofollow" href="https://www.goodreads.com/book/show/17204095-eleanor-park"><img alt="Eleanor & Park" border="0" src="https://images.gr-assets.com/books/1357154054m/17204095.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="Letters of Note: An Eclectic Collection of Correspondence Deserving of a Wider Audience" rel="nofollow" href="https://www.goodreads.com/book/show/22052153-letters-of-note"><img alt="Letters of Note: An Eclectic Collection of Correspondence Deserving of a Wider Audience" border="0" src="https://images.gr-assets.com/books/1399531023m/22052153.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Three-Body Problem (Remembrance of Earth’s Past #1)" rel="nofollow" href="https://www.goodreads.com/book/show/20518872-the-three-body-problem"><img alt="The Three-Body Problem" border="0" src="https://images.gr-assets.com/books/1415428227m/20518872.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Left Hand of Darkness (Hainish Cycle #4)" rel="nofollow" href="https://www.goodreads.com/book/show/18423.The_Left_Hand_of_Darkness"><img alt="The Left Hand of Darkness" border="0" src="https://images.gr-assets.com/books/1488213612m/18423.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="All the Ugly and Wonderful Things" rel="nofollow" href="https://www.goodreads.com/book/show/29480865-all-the-ugly-and-wonderful-things"><img alt="All the Ugly and Wonderful Things" border="0" src="https://images.gr-assets.com/books/1457666693m/29480865.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Immortalists" rel="nofollow" href="https://www.goodreads.com/book/show/35156426-the-immortalists"><img alt="The Immortalists" border="0" src="https://images.gr-assets.com/books/1494970631m/35156426.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Bluest Eye" rel="nofollow" href="https://www.goodreads.com/book/show/6551700-the-bluest-eye"><img alt="The Bluest Eye" border="0" src="https://images.gr-assets.com/books/1327894052m/6551700.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers" rel="nofollow" href="https://www.goodreads.com/book/show/20657434-the-hard-thing-about-hard-things"><img alt="The Hard Thing About Hard Things: Building a Business When There Are No Easy Answers" border="0" src="https://images.gr-assets.com/books/1391109084m/20657434.jpg" /></a></div>
    <div class="gr_grid_book_container"><a title="The Fire Next Time" rel="nofollow" href="https://www.goodreads.com/book/show/464260.The_Fire_Next_Time"><img alt="The Fire Next Time" border="0" src="https://images.gr-assets.com/books/1488825618m/464260.jpg" /></a></div>
    <br style="clear: both"/><br/><a class="gr_grid_branding" style="font-size: .9em; color: #382110; text-decoration: none; float: right; clear: both" rel="nofollow" href="https://www.goodreads.com/user/show/30634943-tanaka-chingonzo">Tanaka Chingonzo's favorite books »</a>
  <noscript><br/>Share <a rel="nofollow" href="/">book reviews</a> and ratings with Tanaka, and even join a <a rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/grid_widget/30634943.Books%20on%20Tanaka's%20reading%20list?cover_size=medium&hide_link=&hide_title=&num_books=10&order=d&shelf=currently-reading&sort=date_added&widget_id=1559469301" type="text/javascript" charset="utf-8"></script>

  </div>
 <!--  <div class="widget widget-social">
    <h3 class="widget-title">Subscribe & Follow</h3>
    <ul class="social-profiles list-reset">
      {% if site.facebook %}
      <li class="social-profiles-item">
        <a href="{{ site.facebook }}" class="social-profiles-link"><i class="ion ion-logo-facebook"></i></a>
      </li>
      {% else %} {% endif %}

       {% if site.twitter %}
      <li class="social-profiles-item">
        <a href="https://twitter.com/{{ site.twitter }}" class="social-profiles-link"><i class="ion ion-logo-twitter"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.instagram %}
      <li class="social-profiles-item">
        <a href="{{ site.instagram }}" class="social-profiles-link"><i class="ion ion-logo-instagram"></i></a>
      </li>
      {% else %} {% endif %}

      {% if site.pinterest %}
      <li class="social-profiles-item">
        <a href="{{ site.pinterest }}" class="social-profiles-link"><i class="ion ion-logo-pinterest"></i></a>
      </li>
      {% else %} {% endif %}
    </ul>
  </div> -->
    <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:rgba(35,36,39,0.95); clear:left; font:14px Helvetica,Arial,sans-serif; }
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://tanaka.us20.list-manage.com/subscribe/post?u=b16e107df409bfddf8ad88f3f&amp;id=46cdc73fb8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <h2>Get notified every time I publish something!</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
  <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
  <label for="mce-FNAME">First Name </label>
  <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
  <label for="mce-LNAME">Last Name </label>
  <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
</div>
  <div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b16e107df409bfddf8ad88f3f_46cdc73fb8" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

  {% if site.instafeed == true %}
  <div class="widget widget-instagram">
    <h3 class="widget-title">Instagram</h3>
    <div class="instagram-box">
      <ul id="instafeed" class="instagram-grid list-reset clearfix"></ul>
      <a class="instagram-prof" href="#">&#64;UserName</a>
    </div>
  </div>
  {% endif %}

  <div class="widget widget-tags">
    <h3 class="widget-title">Tag Cloud</h3>
    {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{%
    endcapture %} {% assign tag_words = site_tags | split:',' | sort %}
    <ul class="tag-list list-reset">
    {% for item in (0..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <li class="tag-item"><a href="{{ site.baseurl }}/tags#{{ this_word | cgi_escape }}" class="tag">{{ this_word }}</a></li>
      {% endunless %}
    {% endfor %}
    </ul>
  </div>
  
</aside> <!-- /.sidebar -->
