@charset "UTF-8";
.btn,
.intro-sub,
.navbar-custom,
.video-intro h2,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase
}

.timeline,
ol,
ul {
    list-style: none
}

.intro,
.resume-title h3,
.section-title,
.social-icons a i {
    text-align: center
}

.mfp-close,
a,
a:focus,
a:hover,
a>* {
    text-decoration: none
}

body,
html {
    overflow-x: hidden
}

ul {
    margin: 0
}

ul.list-check li {
    position: relative;
    font-size: 18px;
    line-height: 32px
}

ul.list-check li::before {
    content: "\f00c";
    font-family: fontawesome;
    color: #0b9df6;
    margin-right: 10px
}

#home:before,
.biography::after,
.section-title::after,
.social-icons a i::after {
    content: ""
}


#home { 
    /* The image used */
    background-image: url("../images/Tanaka Chingonzo at  Rainbow Run smiling walking in colour.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#home:before,
.intro {
    position: absolute;
    width: 100%;
    left: 0
}

#home:before {
    top: 0;
    height: 100%
}

.intro {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0 15px
}

.resume:before,
.social-icons a i::after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg)
}

.intro h1 {
    font-size: 60px;
    line-height: 80px;
    margin-bottom: 16px;
    color: #52b3d9
}

.intro h1 span {
    color: #0b9df6;
    background-color: #fff
}

.intro p {
    color: #f7f7f7;
    margin-bottom: 40px
}

.intro-sub {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    display: block;
    margin-bottom: 20px
}

.social-icons {
    margin-top: 20px
}

.social-icons a i {
    position: relative;
    color: #fff;
    font-size: 18px;
    margin: 0 7px;
    line-height: 40px;
    width: 40px;
    height: 40px
}

.social-icons a i::before {
    position: relative;
    z-index: 1
}

.social-icons a i::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.social-icons a i:hover::after {
    background: #0b9df6;
    border: 1px solid transparent;
    z-index: 0
}
body,
html {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    color: #aaa;
}

a{
    color: white;
}