.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.722656;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._f{width:3.999997px;}
._d{width:6.825165px;}
._7{width:23.999998px;}
._6{width:73.999999px;}
._1b{width:134.000000px;}
._5{width:139.300791px;}
._2{width:257.999999px;}
._3{width:278.000000px;}
._0{width:318.984312px;}
._1{width:422.000000px;}
._c{width:426.982118px;}
._10{width:449.406054px;}
._8{width:503.999993px;}
._16{width:512.777257px;}
._e{width:548.628779px;}
._15{width:572.648297px;}
._a{width:574.167988px;}
._b{width:619.524170px;}
._1e{width:681.515499px;}
._1c{width:745.230383px;}
._1f{width:775.988141px;}
._1a{width:789.527344px;}
._19{width:816.046702px;}
._12{width:848.292782px;}
._11{width:887.003823px;}
._4{width:909.230384px;}
._1d{width:915.968624px;}
._14{width:1027.023346px;}
._17{width:1034.679666px;}
._18{width:1048.039026px;}
._13{width:1131.593588px;}
._9{width:1257.415895px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(0,32,96);}
.fs2{font-size:38.000001px;}
.fs1{font-size:40.000001px;}
.fs0{font-size:72.000001px;}
.y0{bottom:0.000000px;}
.y3a{bottom:33.325200px;}
.y38{bottom:44.770510px;}
.y39{bottom:44.824220px;}
.y37{bottom:56.323240px;}
.y36{bottom:79.321290px;}
.y34{bottom:90.766600px;}
.y35{bottom:90.820310px;}
.y33{bottom:102.319340px;}
.y32{bottom:125.317380px;}
.y31{bottom:136.816410px;}
.y2f{bottom:148.261720px;}
.y30{bottom:148.315430px;}
.y2e{bottom:159.814450px;}
.y2d{bottom:182.812500px;}
.y2c{bottom:194.311520px;}
.y2b{bottom:217.309570px;}
.y2a{bottom:228.808590px;}
.y28{bottom:240.253910px;}
.y29{bottom:240.307620px;}
.y27{bottom:251.806640px;}
.y26{bottom:265.805660px;}
.y25{bottom:288.803710px;}
.y24{bottom:300.302730px;}
.y23{bottom:313.301760px;}
.y22{bottom:336.299800px;}
.y21{bottom:347.798830px;}
.y1f{bottom:359.244140px;}
.y20{bottom:359.297850px;}
.y1e{bottom:370.796870px;}
.y1d{bottom:382.295900px;}
.y1c{bottom:393.794920px;}
.y1a{bottom:405.240230px;}
.y1b{bottom:405.293950px;}
.y19{bottom:416.792970px;}
.y17{bottom:439.737300px;}
.y18{bottom:439.791020px;}
.y16{bottom:451.290040px;}
.y15{bottom:465.289060px;}
.y14{bottom:488.287110px;}
.y13{bottom:499.786130px;}
.y12{bottom:511.285160px;}
.y11{bottom:522.784180px;}
.y10{bottom:534.283200px;}
.yf{bottom:545.782230px;}
.ye{bottom:557.173100px;}
.yd{bottom:570.705320px;}
.yc{bottom:593.020260px;}
.yb{bottom:604.052490px;}
.ya{bottom:626.942383px;}
.y9{bottom:637.974609px;}
.y8{bottom:660.972656px;}
.y7{bottom:672.471680px;}
.y6{bottom:683.970703px;}
.y5{bottom:695.469727px;}
.y4{bottom:709.468750px;}
.y3{bottom:732.466797px;}
.y2{bottom:743.965820px;}
.y1{bottom:757.195312px;}
.h3{height:27.109376px;}
.h4{height:27.275391px;}
.h2{height:28.710938px;}
.h5{height:28.906251px;}
.h1{height:51.679689px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:45.000000px;}
.x5{left:63.000000px;}
.x3{left:206.245120px;}
.x2{left:213.962400px;}
.x1{left:235.520510px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._f{width:5.333330pt;}
._d{width:9.100220pt;}
._7{width:31.999997pt;}
._6{width:98.666665pt;}
._1b{width:178.666666pt;}
._5{width:185.734388pt;}
._2{width:343.999999pt;}
._3{width:370.666666pt;}
._0{width:425.312416pt;}
._1{width:562.666666pt;}
._c{width:569.309491pt;}
._10{width:599.208073pt;}
._8{width:671.999990pt;}
._16{width:683.703010pt;}
._e{width:731.505039pt;}
._15{width:763.531063pt;}
._a{width:765.557318pt;}
._b{width:826.032226pt;}
._1e{width:908.687332pt;}
._1c{width:993.640511pt;}
._1f{width:1034.650855pt;}
._1a{width:1052.703125pt;}
._19{width:1088.062269pt;}
._12{width:1131.057043pt;}
._11{width:1182.671764pt;}
._4{width:1212.307178pt;}
._1d{width:1221.291498pt;}
._14{width:1369.364461pt;}
._17{width:1379.572888pt;}
._18{width:1397.385369pt;}
._13{width:1508.791451pt;}
._9{width:1676.554526pt;}
.fs2{font-size:50.666668pt;}
.fs1{font-size:53.333334pt;}
.fs0{font-size:96.000002pt;}
.y0{bottom:0.000000pt;}
.y3a{bottom:44.433600pt;}
.y38{bottom:59.694013pt;}
.y39{bottom:59.765627pt;}
.y37{bottom:75.097653pt;}
.y36{bottom:105.761720pt;}
.y34{bottom:121.022133pt;}
.y35{bottom:121.093747pt;}
.y33{bottom:136.425787pt;}
.y32{bottom:167.089840pt;}
.y31{bottom:182.421880pt;}
.y2f{bottom:197.682293pt;}
.y30{bottom:197.753907pt;}
.y2e{bottom:213.085933pt;}
.y2d{bottom:243.750000pt;}
.y2c{bottom:259.082027pt;}
.y2b{bottom:289.746093pt;}
.y2a{bottom:305.078120pt;}
.y28{bottom:320.338547pt;}
.y29{bottom:320.410160pt;}
.y27{bottom:335.742187pt;}
.y26{bottom:354.407547pt;}
.y25{bottom:385.071613pt;}
.y24{bottom:400.403640pt;}
.y23{bottom:417.735680pt;}
.y22{bottom:448.399733pt;}
.y21{bottom:463.731773pt;}
.y1f{bottom:478.992187pt;}
.y20{bottom:479.063800pt;}
.y1e{bottom:494.395827pt;}
.y1d{bottom:509.727867pt;}
.y1c{bottom:525.059893pt;}
.y1a{bottom:540.320307pt;}
.y1b{bottom:540.391933pt;}
.y19{bottom:555.723960pt;}
.y17{bottom:586.316400pt;}
.y18{bottom:586.388027pt;}
.y16{bottom:601.720053pt;}
.y15{bottom:620.385413pt;}
.y14{bottom:651.049480pt;}
.y13{bottom:666.381507pt;}
.y12{bottom:681.713547pt;}
.y11{bottom:697.045573pt;}
.y10{bottom:712.377600pt;}
.yf{bottom:727.709640pt;}
.ye{bottom:742.897467pt;}
.yd{bottom:760.940427pt;}
.yc{bottom:790.693680pt;}
.yb{bottom:805.403320pt;}
.ya{bottom:835.923177pt;}
.y9{bottom:850.632812pt;}
.y8{bottom:881.296875pt;}
.y7{bottom:896.628907pt;}
.y6{bottom:911.960937pt;}
.y5{bottom:927.292969pt;}
.y4{bottom:945.958333pt;}
.y3{bottom:976.622396pt;}
.y2{bottom:991.954427pt;}
.y1{bottom:1009.593749pt;}
.h3{height:36.145834pt;}
.h4{height:36.367188pt;}
.h2{height:38.281251pt;}
.h5{height:38.541667pt;}
.h1{height:68.906251pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:60.000000pt;}
.x5{left:84.000000pt;}
.x3{left:274.993493pt;}
.x2{left:285.283200pt;}
.x1{left:314.027347pt;}
}
